#root { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

html,
body {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90vw;
    height: 90vh;
    max-width: 500px;
    max-height: 500px;
}

.progress-block{
    margin: auto;
}

.progress-ring {

    /* this is a hack for mozilla to stop transitioning on load */
    stroke-dashoffset: 0%;

    -webkit-transition: stroke-dashoffset 0.35s;
    transition: stroke-dashoffset 0.35s;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/* Controls area */
.controls{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.controls__controlbox{
    display: flex;
}

.controls__legend{
    margin: auto 5px;
    font-family: Roboto, sans-serif; 
}

/* The switch - the box around the slider */
.controls__switch {
    margin: 5px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.controls__switch input {
    display:none;
}

/* The slider */
.controls__slider--round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(146, 146, 146);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.controls__slider--round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(212, 212, 212);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input {
    -webkit-appearance: none;
}

input:checked + .controls__slider--round {
    background-color: rgb(128, 207, 54);
}

input:checked + .controls__slider--round:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(255, 255, 255);
}

/* Value input */
.controls__progress-value {
    margin: 5px;
    width: 52px;
    height: 26px;
    -webkit-border-radius:34px;
    border-radius:34px;
    border: 3px solid #ccc;
    padding: 1px;
    text-align: center;
    font-family: Roboto, 'Open Sans', sans-serif; 
    font-size: inherit;
}